@import './variablesMixins.scss';

.header-wrapper {
  padding-top: 20px;
  background: $grey;
  color: $ghostWhite;
  height: 180px;
  text-align: center;
  margin-bottom: 1em;

  @include mqMax(400px) {
    height: 150px;
    padding-top: 10px;
  };

  h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: $ghostWhite;

    @include mqMax(360px) {
      font-size: 24px;
    };

    @include mqMax(700px) {
      font-size: 28px;
    };

    @include mqMax(900px) {
      font-size: 32px;
    };

    span {
      font-weight: 200;
    }
  }
}

.fetch-errors {
  margin-top: 30px;
  text-align: center;
}

.fetch-errors-modal {
    text-align: center;
}

.loading-spinner {
  background: $ghostWhite;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-wrapper {
  background: $ghostWhite;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
