@import './variablesMixins.scss';

.gallery-items-wrapper {
  column-gap: 1em;
  line-height: 0;
  padding: 0;

  @include mqMin(360px) {
    column-count: 2;
  };

  @include mqMin(700px) {
    column-count: 3;
  };

  @include mqMin(900px) {
    column-count: 4;
  };

  @include mqMin(1200px) {
    column-count: 5;
  };
}

.gallery-items-wrapper-loading {
  display: none;
}

.page-navigation-wrapper-loading {
  display: none;
}

.page-navigation-wrapper {
  margin: 0 auto;
  padding: 60px;

  .page-navigation-buttons {
    text-align: center;
    margin-bottom: 20px;

    button {
      margin-right: 20px;
      background-color: $grey;
      border: 2px solid $lightGrey;
      font-size: 24px;
      padding: 18px 32px;
      text-align: center;
      text-decoration: none;
      color: $ghostWhite;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 6px;

      &:hover {
        background-color: $lightGrey;
        color: $grey;
        border: 2px solid $grey;
      }

      @include mqMax(700px) {
        font-size: 14px;
        padding: 10px 18px;
      };
    }
  }

  .page-nav-total-hits {
    display: block;
    text-align: center;

    .totalHitsTextBold {
      font-weight: bold;
    }
  }

}
