@import './variablesMixins.scss';

.gallery-items-wrapper {
  column-gap: 1em;
  line-height: 0;
  padding: 0;

  @include mqMin(360px) {
    column-count: 2;
  };

  @include mqMin(700px) {
    column-count: 3;
  };

  @include mqMin(900px) {
    column-count: 4;
  };

  @include mqMin(1200px) {
    column-count: 5;
  };
}

.gallery-items-wrapper-loading {
  display: none;
}
