@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'variables';

// start css reset
body {
  font-family: sans-serif, serif;
  margin-bottom: 0;
  // background: black;
}

li {
  list-style: none;
}

body,
fieldset,
form,
html,
legend,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  min-width: 150px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
//  end css reset
