@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import './variablesMixins.scss';

// start css reset
body {
  font-family: 'Open Sans', sans-serif, serif;
  margin-bottom: 0;
}

li {
  list-style: none;
}

body,
fieldset,
form,
html,
legend,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: $ghostWhite;
  height:100vh;
}
//  end css reset
