@import './variablesMixins.scss';

.search-wrapper {
  width: 50%;
  // max-width: 900px;
  margin: 0 auto;

  @include mqMax(360px) {
    width: 80%;
  };

  @include mqMax(700px) {
    width: 70%;
  };

  @include mqMax(900px) {
    width: 60%;
  };
}

#search-form {
  #search-bar-flex {
    margin-bottom: 20px;
    display: flex;
  }

  input {
    &[type='text'] {
      padding: 10px 16px;
      width: 100%;
      font-size: 18px;
      outline: none;
      margin: 0 auto;
      flex-grow: 9;
      border: 3px solid $lightGrey;
      border-radius: 4px 0 0 4px;
      color: $grey;

      @include mqMax(360px) {
        padding: 8px 12px;
      };

      @include mqMax(500px) {
        font-size: 14px;
        padding: 8px 14px;
      };
    }

    &[type='checkbox'] {
      margin-right: 5%;
    }
  }

  button {
    .fa-search {
      font-size: 18px;
      color: $grey;
      font-size: 25px;
      text-align: center;
    };
    flex-grow: 2;
    outline: none;
    background: $lightGrey;
    border: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  #search-checkboxes {
    width: 100%;
    display: inline-block;
  }

  label {
    @include mqMax(500px) {
      font-size: 14px;
    };
  }
}
