// Variables
$grey: #2c3139;
$ghostWhite: #F8F8FF;
$lightGrey: #B2B2B2;

// Mixins
// Media queries
@mixin mqMax($arguments) {
  @media screen and (max-width: $arguments) {
    @content;
  }
}

@mixin mqMin($arguments) {
  @media screen and (min-width: $arguments) {
    @content;
  }
}
